.app {
  padding: 0.5em;    
  font-family: "Helvetica Neue",Arial,"Noto Sans",sans-serif;
}

/* category selections from navbar and task-add*/
#navbar__category-select,
#task--add__category-select {
  max-width: 300px;
}

@media screen AND (min-width: 769px) {
  .app {
    max-width: 1200px;
    padding: 0.5em 2em;
    margin: 0 auto;
  }
}
