.app {
  padding: 0.5em;    
  font-family: "Helvetica Neue",Arial,"Noto Sans",sans-serif;
}

/* category selections from navbar and task-add*/
#navbar__category-select,
#task--add__category-select {
  max-width: 300px;
}

/* tasks */
.task {
  margin-top: 1.5em;
  border: 1px solid #b1b1b1;
  border-radius: 9px;
  padding: 0.5em;
  font-size: 1.2em;
}

.task__content {
  padding: 0.5em;
  border: solid 1px #ededed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.task__content__title {
  font-weight: 400;
  font-size: 0.9em;
  width: 65%;
}

.task__content__input {
  border: none;
  width: 100%;
}

/* task--add */
.task--add__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.task--add .task__content__input {
  display: block;
  border: none;
}

@media screen AND (min-width: 769px) {
  .app {
    max-width: 1200px;
    padding: 0.5em 2em;
    margin: 0 auto;
  }
  
  .task--add__form {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 2.5em;
  }

  .task--add .task__content__input {
    width: 600px;
  }
}
